*{
    list-style: none;
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}


body {
    font-size: 18px;
    background-color: black;
}

.color-red {
    color: red;
}