.header {
    width: 100%;
    border-bottom: solid 1px white;
}

.header > ul {
    display: flex;
    height: 80px;
    align-items: center;
}

.header > ul > li {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > ul > li:hover {
    background-color: rgba(255, 255, 255, 0.39);
}

.box {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.box h1{
    margin-bottom: 40px;
}

.box h2{
    margin-bottom: 40px;
}

.pic {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.pic img {
    display: inline-block;
    width: 220px;
    height: 200px;
    margin: 0 10px;
}

.content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.content .item {
    width: 45%;
    display: flex;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 50px;
    overflow:hidden;
}

.content .item img{
    height: 200px;
    width: 200px;
    margin-right: 20px;
}

.content .item .item-text .name {
    font-size: 20px;
    color: red;
}

.content .item .item-text p {
    font-size: 16px;
    color: rgb(194, 195, 196);
}